.sli-bg {
	background:url(../images/shaddow.jpg) center bottom no-repeat;
	height:22px;
	width:auto;
	margin:0;
}
.flex-container a:active, .flexslider a:active {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin-top:0;
	padding: 0;
	list-style: none;
}
/**********************FlexSlider_Necessary_Styles**********************/ 
.flexslider {
	width:100%;
	margin: 0;
	padding: 0;
	
}
.flexslider .slides > li {
	display: none;
}
/*********Hide the slides before the JS is loaded. Avoids image jumping***********/
.flexslider .slides img {
	/*border-top:3px solid #323263;*/
	max-width: 100%;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/************Clearfix for the .slides element************/
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/*************No JavaScript Fallback*************/

.no-js .slides > li:first-child {
	display: block;
}
/*************FlexSlider Default Theme************/
.flexslider {
	background: none;
	border:none;
	position: relative;
	zoom: 1;
	padding-bottom:0;
}
.flexslider .slides {
	zoom: 1;
}
.flexslider .slides > li {
	position: relative;
}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flex-container {
	zoom: 1;
	position: relative;
}


.flex-direction-nav {
	width:100%;
	position:absolute;
	overflow:hidden;
	margin-top:0px;
	bottom:7px;
}
.flex-direction-nav li a {
	width: 34px;
	height:34px;
	display: inline-block;
	cursor: pointer;
	text-indent: -9999px;
	z-index:1000;
}
.flex-direction-nav:before, .flex-direction-nav:after {
	/*background:#343434;*/
	width:147px;
	height:1px;
	position:absolute;
	top:16px;
	right:30px;
	content:""
}
.flex-direction-nav:after {
	right:auto;
	left:30px
}
.flex-direction-nav li {
	display:inline-block;
	overflow:hidden;
}
.flex-direction-nav li {
	float:right
}
.flex-direction-nav li:first-child {
	float:left
}
.flex-direction-nav li .next {
	background:url(../images/next.png) no-repeat 0 0;
	margin-right:370px;
	float:right;
}
.flex-direction-nav li .prev {
	background:url(../images/prev.png) no-repeat 0 0;
	margin-left:370px;
	float:left
}
.flex-direction-nav li .disabled {
	opacity: .3;
	filter:alpha(opacity=30);
	cursor: default;
}
.flex-direction-nav li a:hover {
	background-position: 0 bottom
}
.flex-control-nav li a {
	font-size:0;
	line-height:0
}


@media only screen and (min-width: 768px) and (max-width: 995px) {
.banner {
margin-left: -150px;
text-align: center;
top: 360px;
width: 300px;
}
.flex-direction-nav li .next {
margin-right:340px;
}
.flex-direction-nav li .prev {
margin-left:340px;
}
}
@media only screen and (max-width: 767px) {
.banner {
display:none
}
.flex-direction-nav:before, .flex-direction-nav:after {
width:70px;
}
.flex-direction-nav li .next {
margin-right:100px;
}
.flex-direction-nav li .prev {
margin-left:100px;
}
.slides, .flex-control-nav, .flex-direction-nav {
margin-top: 0px;
padding: 0;
list-style: none;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
.flex-direction-nav:before, .flex-direction-nav:after {
width:128px;
}
.flex-direction-nav li .next {
margin-right:100px;
}
.flex-direction-nav li .prev {
margin-left:100px;
}
}
